.frameEdge {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    background-color: azure;
    display: flex;
    position: relative;

    // .overlay-edge container
    .pieceEdgeContainer {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        transform: rotate(180deg);
    }

    &.fade-out {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s ease-in 500ms, opacity ease-in 500ms;
    }
    &.fade-in {
        visibility: visible;
        opacity: 100;
        transition: visibility 0s ease-out, opacity ease-out 500ms;
    }
}
.frameEdgeSide {
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
    transform-origin: bottom center;
    align-items: end;
    position: absolute;

    .pieceEdgeContainer {
        transform: rotate(0deg);
    }
}
.frameEdgeLeft {
    rotate: -60deg;
}
.frameEdgeRight {
    rotate: 60deg;
}

.border {
    content: '';
    position: absolute;
    transform-origin: top center;
    z-index: -10;

    &.borderLeft {
        rotate: -60deg;
    }
    &.borderRight {
        rotate: 60deg;
    }
}