.frameEdge {
    clip-path: polygon(0 0, 100% 0, 90% 100%, 10% 100%);
    background-color: azure;
    display: flex;
    position: relative;

    > div {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        transform: rotate(180deg);

        border: 1px solid brown;
    }
}
.frameEdgeLeft {
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
    rotate: -60deg;
    transform-origin: bottom center;
    align-items: end;
    position: absolute;

    > div {
        transform: rotate(0deg);
    }
}
.frameEdgeRight {
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
    rotate: 60deg;
    transform-origin: bottom center;
    position: absolute;
    align-items: end;

    > div {
        transform: rotate(0deg);
    }
}