.grab-handle {
    background-color:  transparent;
    box-sizing: border-box;
    border-radius: 100%;
    position: relative;
}

.triangle {
    width: 0;
    height: 0;
    transform-origin: 50% 66.66%;
    z-index: -1;
    position: absolute;
    bottom: -1px;

    // BORDER BARS
    > div {
      position: absolute;
      clip-path: polygon(1% 0, 99% 0, 100% 100%, 0 100%);

      // left
      &:nth-child(2) {
        transform: rotate(60deg);
        clip-path: polygon(0% 0, 100% 0, 99% 100%, 1% 100%);
      }
      // right
      &:nth-child(3) {
        transform: rotate(-60deg);
        clip-path: polygon(0% 0, 100% 0, 99% 100%, 1% 100%);
      }
  }
}