.grab-handle {
    background-color:  transparent;
    cursor: pointer;
    // border: 1px solid cadetblue;
    // top: 1px;
    // left: 1px;  // include if grab handle border
    border-radius: 100%;
    box-sizing: border-box;
    position: relative;

    .piece-id {
        color: white;
        position: absolute;
        left: calc(50% - 10px);
        top: calc(50% - 10px);
        user-select: none;
        width: 20px;
        height: 20px;
        text-align: center;
    }
}

.triangle {
    width: 0;
    height: 0;
    transform-origin: 50% 66.66%;
    z-index: -1;
    position: absolute;
    bottom: -1px;


    // BORDER BARS
    > .border {
        position: absolute;
        clip-path: polygon(1% 0, 99% 0, 100% 100%, 0 100%);

        // left
        &:nth-child(2) {
            transform: rotate(60deg);
            clip-path: polygon(0% 0, 100% 0, 99% 100%, 1% 100%);
        }
        // right
        &:nth-child(3) {
            transform: rotate(-60deg);
            clip-path: polygon(0% 0, 100% 0, 99% 100%, 1% 100%);
        }
    }


    // layer to add images & puzzle design
    .overlay {
        color: white;
        position: relative;
        z-index: 1;

        .overlay-edge {
            position: absolute;
            border-radius: 0;
            text-align: center;
            font-size: 14px;
            user-select: none;

            // bird specific images
            & > div {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translate(-50%);
                background-size: contain;
            }

            // bottom
            &:nth-child(1) {
                bottom: 0;
            }
            // left
            &:nth-child(2) {
                transform: rotate(120deg);
                transform-origin: bottom;
                bottom: calc(50%);
            }
            // right
            &:nth-child(3) {
                transform: rotate(-120deg);
                transform-origin: bottom;
                bottom: 50%;
            }
        }
    }

    .M-top {
        $M-top: 116%;  // = % base for all other M sizes - but also a % of triangle size
        // width: 58px;
        // width: 30px;

        width: $M-top;
        height: calc($M-top * .517);
        // right: calc($M-top * )

        border: 1px solid lime;
        left: 50%;
        transform: translate(-50%);

        background-image: url('../styles/bird-images/M-top.png');
        // right: 1px;
        bottom: -1px !important
    }
    .M-bottom {
        // width: $M-top;

        width: 53px;
        height: 32px;
        background-image: url('../styles/bird-images/M-bottom.png');
        // right: -6px;

        border: 1px solid lime;
        left: 50%;
        transform: translate(-50%);
    }

    .F-top {
        width: 56px;
        height: 24px;
        background-image: url('../styles/bird-images/F-top.png');
        right: 0px;
    }
    .F-bottom {
        width: 46px;
        height: 24px;
        background-image: url('../styles/bird-images/F-bottom.png');
        right: -3px;
    }

    .C-top {
        width: 49px;
        height: 52px;
        background-image: url('../styles/bird-images/C-top.png');
        right: -1px;
    }
    .C-bottom {
        width: 70px;
        height: 53px;
        background-image: url('../styles/bird-images/C-bottom.png');
        right: -2px;
    }

    .E-top {
        width: 59px !important;
        height: 35px !important;
        background-image: url('../styles/bird-images/E-top.png');
        right: 5px;
    }
    .E-bottom {
        width: 36px;
        height: 39px;
        background-image: url('../styles/bird-images/E-bottom.png');
        right: 9px;
    }

    .H-top {
        width: 49px;
        height: 43px !important;
        background-image: url('../styles/bird-images/H-top.png');
        right: 6px;
    }
    .H-bottom {
        width: 36px;
        height: 20px;
        background-image: url('../styles/bird-images/H-bottom.png');
        right: 12px;
    }

    .V-top {
        width: 46px;
        height: 40px;
        background-image: url('../styles/bird-images/V-top.png');
        left: -4px;
    }
    .V-bottom {
        width: 69px;
        height: 37px;
        background-image: url('../styles/bird-images/V-bottom.png');
        right: 9px;
    }
}