$piece-side-length: 75px;
$corner-side-length: calc($piece-side-length / 2);
$grab-handle-diameter: 85px;

.grab-handle {
    width: $grab-handle-diameter;
    height: $grab-handle-diameter;
    background-color:  transparent; // aqua = rgba(0, 255, 255, 0.5);
    cursor: pointer; // grab
    border: 1px dotted cadetblue;
    border-radius: 100%;

    position: relative;
    top: 42px; // replace with var
    margin: 0 -4px;

    &.odd {
        top: 0px;
    }

    .piece-id {
        color: aqua;
        position: absolute;
        left: calc(50% - 10px);
        top: calc(50% - 10px);
        user-select: none;
        width: 20px;
        height: 20px;
        text-align: center;
    }
}

.triangle {
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: calc(150px * .866) solid white;
    transform-origin: 50% 67%;  // x y offset

    z-index: -1;
    position: absolute;
    bottom: -2px;
    right: -34px;

    // layer to add images & puzzle design
    .overlay {
        color: white;
        width: 150px;
        height: calc(150px * .866);


        position: relative;
        left: -75px;
        // top: -10px;

        .overlay-edge {
            position: absolute;
            // make these into edge-diameter var
            // can be significantly bigger
            width: 50px;
            height: 50px;
            clip-path: circle(50% at 50% 100%);
            border-radius: 0;
            text-align: center;
            font-size: 14px;
            user-select: none;



            // bottom
            &:nth-child(1) {
                // half circle overlap idea
                bottom: 0px;
                left: calc(50% - 25px);
            }
            // left
            &:nth-child(2) {
                transform: rotate(120deg);
                transform-origin: bottom;
                left: calc(25% - 25px);
                bottom: calc(68% - 25px);
            }
            // right
            &:nth-child(3) {
                transform: rotate(-120deg);
                transform-origin: bottom;
                right: calc(25% - 25px);
                bottom: calc(68% - 25px);
            }
        }
    }


    .M-top {
        height: 28px !important;
        background-image: url('../styles/bird-images/M-top.png');
        background-size: contain;
        clip-path: none !important;
    }
    .M-bottom {
        height: 31px !important;
        background-image: url('../styles/bird-images/M-bottom.png');
        background-size: contain;
        clip-path: none !important;
    }
    .F-top {
        height: 21px !important;
        background-image: url('../styles/bird-images/F-top.png');
        background-size: contain;
        clip-path: none !important;
    }
    .F-bottom {
        height: 25px !important;
        background-image: url('../styles/bird-images/F-bottom.png');
        background-size: contain;
        clip-path: none !important;
    }

    .C-top {
        width: 38px !important;
        height: 40px !important;
        background-image: url('../styles/bird-images/C-top.png');
        background-size: contain;
        clip-path: none !important;
    }
    .C-bottom {
        height: 38px !important;
        background-image: url('../styles/bird-images/C-bottom.png');
        background-size: contain;
        clip-path: none !important;
    }

    .E-top {
        width: 50px !important;
        height: 27px !important;
        background-image: url('../styles/bird-images/E-top.png');
        background-size: contain;
        clip-path: none !important;
    }
    .E-bottom {
        width: 31px !important;
        height: 40px !important;
        background-image: url('../styles/bird-images/E-bottom.png');
        background-size: contain;
        clip-path: none !important;
    }

    .H-top {
        width: 31px !important;
        height: 33px !important;
        background-image: url('../styles/bird-images/H-top.png');
        background-size: contain;
        clip-path: none !important;
    }
    .H-bottom {
        width: 22px !important;
        height: 14px !important;
        background-image: url('../styles/bird-images/H-bottom.png');
        background-size: contain;
        clip-path: none !important;
        right: calc(25% - 19px) !important;
        bottom: calc(68% - 35px) !important;
    }

    .V-top {
        width: 32px !important;
        height: 28px !important;
        background-image: url('../styles/bird-images/V-top.png');
        background-size: contain;
        clip-path: none !important;
        right: calc(25% - 40px) !important;
        bottom: calc(68% - 12px) !important;
    }
    .V-bottom {
        width: 46px !important;
        height: 27px !important;
        background-image: url('../styles/bird-images/V-bottom.png');
        background-size: contain;
        clip-path: none !important;
        right: calc(25% - 29px) !important;
        bottom: calc(68% - 30px) !important;
    }
}