$piece-side-length: 75px;
$corner-side-length: calc($piece-side-length / 2);
$grab-handle-diameter: 85px;

.grab-handle {
    width: $grab-handle-diameter;
    height: $grab-handle-diameter;
    background-color:  transparent; // aqua = rgba(0, 255, 255, 0.5);
    cursor: pointer; // grab
    border: 1px dotted cadetblue;
    border-radius: 100%;

    position: relative;
    top: 42px; // replace with var
    margin: 0 -4px;

    &.odd {
        top: 0px;
    }
}

.triangle {
    width: 0;
    height: 0;
    border-left: 75px solid transparent;
    border-right: 75px solid transparent;
    border-bottom: calc(150px * .866) solid white;
    transform-origin: 50% 67%;  // x y offset

    z-index: -1;
    position: absolute;
    bottom: -2px;
    right: -34px;

    // layer to add images & puzzle design
    .overlay {
        color: white;
        width: 150px;
        height: calc(150px * .866);


        position: relative;
        left: -75px;
        // top: -10px;

        .overlay-edge {
            position: absolute;
            // make these into edge-diameter var
            // can be significantly bigger
            width: 50px;  
            height: 50px;
            clip-path: circle(50% at 50% 100%);
            border-radius: 0;
            text-align: center;
            font-size: 14px;
            user-select: none;
            

            span {
                position: absolute;
                bottom: -2px;
                left: 23%;
            }

            // bottom
            &:nth-child(1) {
                // half circle overlap idea
                bottom: 0px;
                left: calc(50% - 25px);
            }
            // left
            &:nth-child(2) {
                transform: rotate(120deg);
                transform-origin: bottom;
                left: calc(25% - 25px);
                bottom: calc(68% - 25px);
            }
            // right
            &:nth-child(3) {
                transform: rotate(-120deg);
                transform-origin: bottom;
                right: calc(25% - 25px);
                bottom: calc(68% - 25px);
            }
        }
    }

    .orange {
        background-color: orange;
    }
    .purple {
        background-color: lavender;
    }
    .green {
        background-color: forestgreen;
    }
}
