html {
    background: #222;
}

body {
    margin: 0;
}

.panel {
    box-sizing: border-box;
    margin: 20px 10px;
    padding: 10px 0px;
    background-color: #fcfaf5;
    // background-color: whitesmoke;
    border: 1px solid #222222;
    border-radius: 30px;
    box-shadow: 1px 1px cadetblue;
    color: black;
    font-size: 16px !important;
    font-family: sans-serif !important;
}